extends layout

block content
  h1= title
  label Realice su consulta de acuerdo a cualquier campo de la tabla.
  input(data-index='mio', id='busqueda')  
  .leftContainer
    #container  

  .leftContainer
    #container2 
    h1 Descripcion Completa de la busqueda
    table(id="list-msgs",style="padding: 2px" border="01")
  .contenedorLista#descCont2
  