doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
    

  body
    block content
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/jquery-ui.js')

    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/higcharts.js')
    script(src='/javascripts/exporting.js')
    script(src='/javascripts/main.js')
