body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.columnas{
	position: relative;
    float: left;
    margin-left:0px;
    width:100%;
}
/*#container{
	position: relative;
    width: 80%;
    float: left;
}*/
#leftContainer{
	position: relative;
    width: 80%;
    float: left;
}
#contenedorLista{
	position: relative;
    width: 20%;
    float: left;	
}